h1 {
    text-align: center;
}

.form-div {
    width: 80%;
    margin:30px auto
}

.schedule-element {
    background-color: #eeeeee;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.schedule-edit-btn {
    margin-right: 13px;
}

.delete-form {
    display: inline;
    margin-right: 10px;
}

.index-device {
    background-color: #ccdefc;
    border-radius: 10px;
}

.delete-in-edit {
    margin-bottom: 15px;
}

.schedule-table-row {
    width: 100%;
}

table {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}