<% include ../partials/header %>

<div class="container">
    <h1>Agrega un nuevo controlador</h1>
    <div class="form-div">
        <form action="/controllers" method="POST">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input class="form-control" type="text" name="controller[name]" placeholder="Nombre del controlador">
            </div>
            <div class="form-group">
                <label for="type">Tipo</label>
                <input class="form-control" type="text" name="controller[type]" placeholder="Tipo">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-success btn-block">Agregar</button>
            </div>
        </form>
        <a class="btn btn-light btn-block" href="/controllers">Regresar</a>
    </div>
</div>

<% include ../partials/footer %>